#landing {
  height: 110vh;
  background-image: url("../assets/apartment-apple-chair-245032.jpg");
  background-size: cover;
  background-position: center;
  background-color: #311459;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing-content {
  width: 40%;
  text-align: center;
  margin-bottom: 10vh;
}

#landing-content h1 {
  font-size: 2.5em;
}


button {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  margin-top: 15px;
  font-size: 1.3em;
}

#content {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

#content-top {
  background-image: url('../assets/jagged.png');
height: 50vh;
position: absolute;
top: -45vh;
z-index: -1;
left: 0;
right: 0;
background-size: 100% 100%;
}

#content h1, #content p, #content li, #content i, #content a, span {
  color: #252525;
}

#content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

#content p, #content a {
  color: #4b4b4b;
  font-size: 1.4em;
  text-align: left;
  font-family: 'Raleway', sans-serif;

}

#content li {
  font-size: 1.3em;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  font-family: 'Raleway', sans-serif;
}
#content i {
  margin-right: 20px;
  font-size: 1.5em;
}

#side-contact ul{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.articles {
  margin: 50px 0;
}

.text-text {
  width: 70%;
}

.site-img {
  height: 185px;
  width: auto;
  max-width: 240px;
  background-image: url("../assets/responsive.png");
  background-size: 100%;
  padding: 9px 9px 20px 9px;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.site-img img{
  height: 74%;
  width: 100%;
}

.site-access {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.site-access a {
  margin: 10px 0;
  color: gray;
  border: 2px solid gray;
  padding: 10px;
}
/*   - Link Animation */

    .a-animation {
        color: gray;
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        background-image: linear-gradient(to right, #818181 10%, gray);
        background-size: 300% 100%;
        background-position: right bottom;
        transition: all .2s ease;
    }

    .a-animation:hover {
        background-position: left bottom;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .link{
        position: relative;
        color: gray;
        text-decoration: none;
    }

    .link:after{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        margin-top: 5px;
        left: 0;
        bottom: 10%;
        background-image: linear-gradient(to right, #ababab 10%, gray);
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }

    .link:hover:after{
        width: 100%;
        left: 0;
        background-image: linear-gradient(to right, #ababab 10%, gray);
    }
.text-text {
  width: calc(100% - 300px);
}

.flex-row.projects {
  align-items: center;
  flex-direction: row;
}

.tech {
  margin: 40px 0;
}

.tech {
  margin: 40px auto 0 auto;
}
.tech.flex-row {
  justify-content: space-around;
}

.tech-icon {
  height: 50px;
  width: auto;
}

div.articles:nth-child(5) {
  margin-bottom: 0;
}

footer {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}

#footer-logo h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
  color: gray;
  margin: 0;
}

#footer-logo h2 {
  font-size: 20px;
  color: gray;
}

footer ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
}



@media screen and (max-width: 700px) {
  footer span {
    display: none;
  }
  .flex-row.projects, .flex-row-alternate {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .text-text {
    width: unset;
  }

  .tech {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0
  }

  #side-contact ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
    width: 100%;
  }
}
