<!--The content below is only a placeholder and can be replaced.-->
<app-navrbar></app-navrbar>

<div id="landing">
  <div id="landing-content">
    <h1>Got an idea you want to make a reality?</h1>
    <button>Get Started</button>
  </div>
</div>

<div id="content">
  <div id="content-top"></div>


  <div id="content-text" class="container">
    <div class="articles" >
      <h1>A Little About Me</h1>
      <article class="flex-row-strech">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
        <div id="side-contact">
          <ul>
            <li><i class="fab fa-facebook-square"></i>Facebook</li>
            <li><i class="fas fa-envelope-square"></i>Gmail</li>
            <li><i class="fas fa-phone-square"></i>Phone</li>
            <li><i class="fab fa-github-square"></i>Github</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
  <div id="case-studies">

    <div class="articles gray-right">
      <div class="container">
        <h1>JMS Commercial Cleaning</h1>
        <article class="flex-row projects">
          <div class="text-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>

            <div class="tech flex-row">
                <img class="tech-icon" src="../assets/django.png">
                <img class="tech-icon" src="../assets/py.png">
                <img class="tech-icon" src="../assets/mysql.png">
            </div>
          </div>

          <div class="site-access">
            <div class="site-img">
              <img src="../assets/jms.PNG">
            </div>
            <a class="link a-animation">View Site</a>
            <a class="link a-animation">View Github</a>
          </div>
        </article>

      </div>
    </div>


    <div class="articles white">
      <div class="container">
        <h1>Action Guitars</h1>
        <article class="flex-row-alternate projects">
          <div class="text-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>

            <div class="tech flex-row">
                <img class="tech-icon" src="../assets/django.png">
                <img class="tech-icon" src="../assets/py.png">
                <img class="tech-icon" src="../assets/mysql.png">
                <img class="tech-icon" src="../assets/aws.png">
            </div>
          </div>

          <div class="site-access">
            <div class="site-img">
              <img src="../assets/action.PNG">
            </div>
            <a class="link a-animation">View Site</a>
            <a class="link a-animation">View Github</a>
          </div>
        </article>
      </div>
    </div>

    <div class="articles gray-left">
      <div class="container">
        <h1>Share Respite</h1>
        <article class="flex-row projects">
          <div class="text-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>

            <div class="tech flex-row">
                <img class="tech-icon" src="../assets/django.png">
                <img class="tech-icon" src="../assets/py.png">
                <img class="tech-icon" src="../assets/mysql.png">
                <img class="tech-icon" src="../assets/stripe.png">
                <img class="tech-icon" src="../assets/aws.png">
            </div>
          </div>

          <div class="site-access">
            <div class="site-img">
              <img src="../assets/share.PNG">
            </div>
            <a class="link a-animation">View Site</a>
            <a class="link a-animation">View Github</a>
          </div>
        </article>
      </div>
    </div>



    <div class="articles white">
      <div class="container">
        <h1>Runescape Bot</h1>
        <article class="flex-row">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          </div>
        </article>
        <div class="tech">
          <ul class=" flex-row">
            <img class="tech-icon" src="../assets/py.png">
            <p class="tech-icon">PyAutoGui</p>
            <img class="tech-icon" src="../assets/coins.png">
          </ul>
        </div>
      </div>
    </div>



    <div class="articles gray-right">
      <div class="container">
        <h1>I'm Available For Work</h1>
        <article class="flex-row">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          </div>
        </article>
      </div>
    </div>

  </div>

  <footer>

  <div id="footer-logo">
    <h1>Callum Pullinger</h1>
    <hr>
    <h2>Full Stack Web Developer</h2>
  </div>

  <ul>
    <li><i class="fab fa-facebook-square"></i></li>
    <li><i class="fas fa-envelope-square"></i></li>
    <li><i class="fas fa-phone-square"></i></li>
    <li><i class="fab fa-github-square"></i></li>
  </ul>
  </footer>
</div>



<router-outlet></router-outlet>
