<!--The content below is only a placeholder and can be replaced.-->
<app-navrbar></app-navrbar>

<div id="landing">
  <div id="landing-content">
    <h1>Got an idea you want to make a reality?</h1>
    <button>Get Started</button>
  </div>
</div>

<div id="content">
  <div id="content-top"></div>


  <div id="content-text" class="container">
    <div class="articles">
      <h1>A Little About Me</h1>
      <article class="flex-row">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
        <div id="side-contact">
          <ul>
            <li><i class="fab fa-facebook-square"></i>Facebook</li>
            <li><i class="fas fa-envelope-square"></i>Gmail</li>
            <li><i class="fas fa-phone-square"></i>Phone</li>
            <li><i class="fab fa-github-square"></i>Github</li>
          </ul>

        </div>
      </article>
    </div>
  </div>

  <div class="articles gray-right">
    <div class="container">
      <h1>JMS Commercial Cleaning</h1>
      <article class="flex-row">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
      </article>
    </div>
  </div>


  <div class="articles white">
    <div class="container">
      <h1>Action Guitars</h1>
      <article class="flex-row">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
      </article>
    </div>
  </div>

  <div class="articles gray-left">
    <div class="container">
      <h1>Share Respite</h1>
      <article class="flex-row">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
      </article>
    </div>
  </div>



  <div class="articles white">
    <div class="container">
      <h1>Runescape Bot</h1>
      <article class="flex-row">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
      </article>
    </div>
  </div>



  <div class="articles gray-left">
    <div class="container">
      <h1>I'm Available For Work</h1>
      <article class="flex-row">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eum laboriosam nostrum, quaerat quis sequi sit tempora vel? Ad culpa delectus dolore enim expedita iusto modi quisquam rerum saepe voluptatum.</p>
        </div>
      </article>
    </div>
  </div>



</div>



<router-outlet></router-outlet>
