* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
}


.container {
  width: 55%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-row-strech {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.flex-row-alternate {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}


article {
  margin-bottom: 20px;
}

@media screen and (max-width: 900px){
  .container {
    width: 70%;
  }

.flex-row-strech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

span {
  display: none;
}
}
